<suite name="My suite">
<listeners>
			 <listener class-name="com.testproject.listener.TestsListenerAdapter" />
            <listener class-name="org.uncommons.reportng.HTMLReporter"/>
		   <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>   
</listeners>

  <suite-files>
   <suite-file path="./Suite_A.xml" />
   <suite-file path="./Suite_B.xml" />
   <suite-file path="./Suite_C.xml" />
   
  </suite-files>
</suite>